<!DOCTYPE html>
<html>
<head>
  <title>Floral Department</title>
</head>
<body>
  <h1>
    <center>
      Floral Department
    </center>
  </h1>
  <h2><center>
    <a href=/welcome><img src="http://4.bp.blogspot.com/-zpEHnnhl64g/UFrbSRLWxXI/AAAAAAAAAdk/1ZvmkOXN5z0/s1600/VintageFlowerBorder.png" width="600" height="210" /></a>
  </center></h2>
  <h2><center>Please select the location to update or enter a new location name.</center></h2>
  <form action="/update_location"><center>
    <table>
      <tr>
        <td>Location</td>
      </tr>
    <% Location.all.each do |location| %>
      <tr>
        <td><input type="radio" name="id" value="<%= location.id %>"><%= location.location_name%></td>
      </tr>
    <% end %>
    </table>
    <p><center><input type="submit"></center></p>
  </center></form>
  <form action="/add_location"><center>
    <p><input type="text" placeholder="Location name" name="location_name"></p>
    <p><input type="submit"></p>
  </center></form>
</body>
</html>