<!DOCTYPE html>
<html>
<head>
  <title>Floral Department</title>
</head>
<body>
  <h1>
    <center><strong>
      Floral Department
    </strong></center>
  </h1>
  <h2><center>
    <img src="http://4.bp.blogspot.com/-zpEHnnhl64g/UFrbSRLWxXI/AAAAAAAAAdk/1ZvmkOXN5z0/s1600/VintageFlowerBorder.png" width="600" height="210" /></a>
  </center></h2>
  <h3><ul style="list-style-type:none"><center>
    <li><a href="/add_product"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeOkxlnhB6rdSbLLdjW6FxlrnSjGDLMgVPPf9IVQkWPW8-Wo5NFg" width="20" height="20"></a>Add a product.</li>
    <li><a href="/existing_products"><img src="http://pngimg.com/upload/rose_PNG653.png" width="20" height+"20"></a>Update an existing product.</li>
    <li><a href="/list_product_records"><img src="http://www.webchicky.com/wp-content/uploads/2010/05/wk1Flower.jpg" width"20" height="20"></a>List product records.</li>
    <li><a href="/add_update_location"><img src="http://www.greenvillageflowers.com/wp-content/uploads/2014/05/Chrysanthemum.png" width="20" height="20"></a>Add or update a location.</li>
    <li><a href="/delete_entry"><img src="http://www.g-fresh.nl/wp-content/themes/gfresh/img/photo/rose.png" width="20" height="20"></a>Delete an entry.</li>
  </center></ul></h3>
</body>
</html>